:root {
  --aqua: rgba(0, 0, 0, 0.5);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--aqua);
  position: sticky;
  top: 0;
}
.navbar ul {
  display: flex;
  list-style: none;
  margin: 20px 0;
}
.navbar ul li {
  font-family: monospace;
  font-size: 1.2rem;
  font-weight: bold;
}
.navbar ul li a {
  text-decoration: none;
  color: white;
  padding: 8px 25px;
  transition: all 0.5s ease;
}
.navbar ul li a:hover {
  background-color: white;
  color: black;
  box-shadow: 0 0 10px white;
}
#home {
  display: flex;
  flex-direction: column;
  background-color: var(--aqua);
  height: 840px;
  justify-content: center;
  align-items: center;
  color: white;
}
#home::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  background: url(./IMG_8178.JPG) no-repeat center center/cover;
  height: 900px;
  width: 100%;
  z-index: -1;
  opacity: 0.8;
}
.main {
  display: flex;
  flex-direction: column;
  /* border: 1px solid blanchedalmond; */
  align-items: center;
  position: absolute;
  top: 30%;
  right: 10%;
}
.headings {
  font-family: monospace;
  font-size: 3rem;
  text-align: center;
  margin: 40px 0px;
}
.btn {
  padding: 10px 35px;
  background-color: transparent;
  border: 1px dashed blanchedalmond;
  color: white;
  outline: none;
  transition: 0.6s ease;
}
.btn:hover {
  cursor: pointer;
  background-color: blanchedalmond;
  color: black;
  box-shadow: 0 0 5px blanchedalmond, 0 0 10px blanchedalmond,
    0 0 15px blanchedalmond;
  font-weight: bolder;
}
.btn a {
  color: white;
}
.btn:hover a {
  color: black;
}
#about {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 20px;
  margin-bottom: 50px;
}
#pic {
  display: flex;
}
#pic img {
  width: 400px;
  height: 500px;
}
#intro {
  display: flex;
  flex-direction: column;
  text-align: justify;
  padding: 20px;
  background-image: linear-gradient(175deg, #eee 50%, #01344d 50%, #9b75d7);
}
#intro h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}
#portfolio {
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  padding: 20px;
  background-image: linear-gradient(175deg, #eee 50%, #01344d 50%, #9b75d7);
  color: black;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  box-sizing: border-box;
}

.gallery img {
  width: 500px;
  height: 380px;
  margin: 20px;
  padding: 20px;
}
#pbeg {
  display: flex;
  flex-flow: row wrap;
  font-size: 26px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bolder;
}
.section-contact {
  min-height: 100vh;
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: linear-gradient(175deg, #eee 50%, #01344d 50%, #9b75d7);
}
.container {
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 32px;
  padding-right: 32px;
}
form {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
  background-color: white;
  padding: 32px;
  border-radius: 16px;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0, 0.2);
}
.formgroup label {
  display: block;
  margin-bottom: 5px;
  color: #888;
  font-size: 26px;
}
.form-element {
  appearance: none;
  outline: none;
  border: none;
  display: block;
  width: 100%;
  border-radius: 8px;
  padding: 12px 16px;
  background-color: #f3f3f3;
}
.form-element:focus {
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
  background-color: white;
  transition: 0.4s;
}
textarea {
  resize: none;
  min-height: 100px;
}
.submit-group {
  grid-column: 1 / -1;
  text-align: right;
}
.but {
  appearance: none;
  border: none;
  outline: none;
  background: none;
  padding: 12px 16px;
  background-color: #ff9fdb;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  transition: 0.4s;
}
.but:hover {
  background-color: #9b75d7;
}
@media (max-width: 800px) {
  #pic {
    flex-direction: column;
    align-items: center;
  }
  #pic img {
    width: 300px;
    height: 400px;
  }
  #intro h2 {
    text-align: center;
    padding: 10px;
  }
  .headings {
    font-size: 2.5rem;
  }
}

#bigpic {
  width: 600px;
  height: 380px;
  margin: 20px;
  padding: 20px;
}
@media (max-width: 450px) {
  #pic {
    flex-direction: column;
    align-items: center;
  }

  #intro h2 {
    text-align: center;
    padding: 10px;
  }
  .headings {
    font-size: 2.5rem;
  }
  #pbeg {
    display: flex;
    flex-flow: row wrap;
    font-size: 14px;
    font-family: "Courier New", Courier, monospace;
    font-weight: bolder;
  }

  .gallery img {
    width: 300px;
    height: 250px;
    margin: 20px;
    padding: 20px;
  }
  #bigpic {
    width: 350px;
    height: 250px;
    margin: 20px;
    padding: 20px;
  }
  .navbar {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    background-color: var(--aqua);
    position: sticky;
    top: 0;
  }
  .navbar ul {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    margin: 20px 0;
  }
  .navbar ul li {
    font-family: monospace;
    font-size: 1.2rem;
    font-weight: bold;
    flex-flow: column wrap;
  }
  .navbar ul li a {
    text-decoration: none;
    color: white;
    padding: 8px 25px;
    transition: all 0.5s ease;
    flex-flow: column wrap;
  }
  .navbar ul li a:hover {
    background-color: white;
    color: black;
    box-shadow: 0 0 10px white;
  }
  #home::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: url(./IMG_8178.JPG) no-repeat center center/cover;
    height: 900px;
    width: 100vh;
    z-index: -1;
    opacity: 0.8;
  }
}
